<!-- ABOUT ME -->

<div id="about" class="row">
  <div class="col-12">
  <div class="section-title">About me</div>
  <div class="about">
    <div class="image" style="background-image: url('https://picsum.photos/400/400');"></div>
    <div class="text">
      <p>Hi! My name is Maciej.</p>
      <p>Links:
        <ul class="list-group">
          <li class="list-group-item">LinkedIn</li>
          <li class="list-group-item">Github</li>
          <li class="list-group-item">Stackoverflow</li>
        </ul>
      </p>
    </div>
  </div>
</div>