<!-- ABOUT ME -->

<div id="about" class="row mb-5">
  <div class="col-12">
  <div class="section-title">O mnie</div>
  <div class="about">
    <div class="image" style="background-image: url('https://picsum.photos/400/400');"></div>
    <div class="text">
      <p>Cześć!</p> 
      <p>Mam na imię Maciej. Jestem początkującym programistą i autorem tego bloga. Moja technologia to przede wszystkim Python. Aspiruję do zostania Full Stack Developerem, dlatego stale się rozwijam i uczę się nowych technologii.</p>
      <div class="d-flex justify-content-around mt-3">
        <a href="https://www.linkedin.com/in/maciej-nachtygal/" class="icon-link icon-linkedin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/macieyn/" class="icon-link icon-github" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://twitter.com/maciey_n" class="icon-link icon-twitter" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>