<!-- FEATURED POSTS -->
      <section id="featured">
        <div class="section-title">Featured Posts</div>
        <div class="card-deck">
          <div class="card featured-bg-image" style="background-image: url('https://picsum.photos/600/400');">
            <div class="card-body">
              <p class="card-text mb-1"><small class="text-white">Last updated 3 mins ago</small></p>
              <a href="post.html" class="h5 card-title featured-post-title">Best Python Resources</a><br>
              <a href="#" class="badge badge-pill badge-primary tag">space travel</a>
              <a href="#" class="badge badge-pill badge-secondary tag">trains</a>
              <a href="#" class="badge badge-pill badge-success tag">long post</a>
              <a href="#" class="badge badge-pill badge-warning tag">iss</a>
              <a href="#" class="badge badge-pill badge-danger tag">my drive</a>
            </div>
          </div>
          <div class="card featured-bg-image" style="background-image: url('https://picsum.photos/600/400');">
            <div class="card-body">
              <p class="card-text mb-1"><small class="text-white">Last updated 3 mins ago</small></p>
              <a href="#" class="h5 card-title featured-post-title">Living on the Edge</a><br>
              <a href="#" class="badge badge-pill badge-primary tag">space travel</a>
              <a href="#" class="badge badge-pill badge-secondary tag">trains</a>
              <a href="#" class="badge badge-pill badge-success tag">long post</a>
              <a href="#" class="badge badge-pill badge-warning tag">iss</a>
              <a href="#" class="badge badge-pill badge-danger tag">my drive</a>
            </div>
          </div>
          <div class="card featured-bg-image" style="background-image: url('https://picsum.photos/600/400');">
            <div class="card-body">
              <p class="card-text mb-1"><small class="text-white">Last updated 3 mins ago</small></p>
              <a href="#" class="h5 card-title featured-post-title">Free API's for your portfolio projects</a>
              <br>
              <a href="#" class="badge badge-pill badge-primary tag">space travel</a>
              <a href="#" class="badge badge-pill badge-secondary tag">trains</a>
              <a href="#" class="badge badge-pill badge-success tag">long post</a>
              <a href="#" class="badge badge-pill badge-warning tag">iss</a>
              <a href="#" class="badge badge-pill badge-danger tag">my drive</a>
            </div>
          </div>

        </div>
      </section>