<div class="container-fluid hero d-flex" style="background-image: url('https://picsum.photos/1200/350')">
  <div class="container align-self-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <div class="mb-3 align-self-center h1">Welcome to Junior's Journal!</div>
        <div class="mb-3 align-self-center">What's your struggle today?</div>
        <div class="tags">
          <a href="#" class="badge badge-pill badge-primary tag">space travel</a>
          <a href="#" class="badge badge-pill badge-secondary tag">trains</a>
          <a href="#" class="badge badge-pill badge-success tag">long post</a>
          <a href="#" class="badge badge-pill badge-warning tag">iss</a>
          <a href="#" class="badge badge-pill badge-danger tag">my drive</a>
          <a href="#" class="badge badge-pill badge-primary tag">spaceships</a>
        </div>
        <div class="tags">
          <a href="#" class="badge badge-pill badge-secondary tag">electric cars</a>
          <a href="#" class="badge badge-pill badge-success tag">dreams</a>
          <a href="#" class="badge badge-pill badge-warning tag">books</a>
          <a href="#" class="badge badge-pill badge-danger tag">snippets</a>
          <a href="#" class="badge badge-pill badge-primary tag">other blogs</a>
          <a href="#" class="badge badge-pill badge-secondary tag">movies</a>
        </div>
        <div class="tags">
          <a href="#" class="badge badge-pill badge-success tag">linux</a>
          <a href="#" class="badge badge-pill badge-warning tag">python</a>
          <a href="#" class="badge badge-pill badge-danger tag">web</a>
        </div>
      </div>
    </div>
  </div>
</div>