{% extends 'base.html' %}

{% block content %}

<!-- HERO -->
{% include 'hero.html' with title=title subtitle=subtitle tags=tags%}

<!-- FEATURED -->
{% include 'featured_home.html' with featured=featured %}

<!-- MAIN CONTENT -->
<div class="container">

  <main>
    <div class="row">
      <div class="col-9">
        {% include 'posts/post_feed.html' with posts=posts %}
      </div>
      <div class="col-3">
        {% include 'about_me.html' %}
      </div>
    </div>

  </main>

</div>


{% endblock content %}