{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="section-title" >Latest posts</div>
<div class="post-feed" id="post-feed">

  {% for post in posts %}
  
  <div class="post">
    <div class="image" style="background-image: url('https://picsum.photos/600/400');">
      <div class="d-flex flex-column align-items-start" style="height: 100%">
        
        <div class="tags align-self-end">
        {% for tag in post.get_tags %}
          <a href="{{ tag.get_absolute_url }}" class="tag" style="background-color: {{ tag.color }}; color: {{ tag.text_color }}">{{ tag }}</a>
        {% endfor %}
        </div>

        <div class="title mt-auto">{{ post.title }}</div>
        <div class="credentials mb-3">Post by {{ post.author }}, {{ post.created_at | naturaltime }}</div>

      </div>
    </div>
    <div class="abreviation">
      <p>{{ post.content | safe }}</p>
      <a href="{{ post.get_absolute_url }}"><span class="read-more">Read more →</span></a>
    </div>
  </div>

  {% endfor %}

  </div>
</div>

{% endblock %}